.table {
    padding: 10px;
}

.title {
    max-width: 96px;
    overflow: hidden;
}

.maxWidthColumn {
    width: 43px;
    /*min-width: 43px;*/
    /*max-width: 200px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.navLink {
    width: 100%;
    height: 100%;
}